* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

button {
    width: 30px;
    height: 20px;
    margin: 5px;
}

dialog[open] {
    position: relative;
    top: 20vh;
    left: 20vh;
}

.form-btn {
    width: 50px;
    padding: 3px;

}

.project-button {
    width: 100px;
}

#project-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: lightblue;
}

#active-title {
    padding-left: 5px;
}

#new-task {
    width: 60px;
}

#project-content {
    box-sizing: border-box;
    width: 300px;
    height: 400px;
    border: black 1px solid;
    padding: 5px;
}

.taskContent {
    display: grid;
    grid-template-columns: 1fr 4fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: left;
    padding: 10px 0px;
}

.taskCheckBox {
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 20px;
    height: 20px;
    padding-left: 10px;
    justify-self: center;
}

.taskTitle {
    grid-column: 2;
    grid-row: 1 / span 2;
}


.taskDueDate {
    grid-column: 3;
    grid-row: 1 / span 2;
}

.viewTask {
    grid-column: 4;
    grid-row: 1;
    margin: 2px;
    width: 36px;
}

.deleteTask {
    grid-column: 4;
    grid-row: 2;
    margin: 2px;
    width: 36px;
}

#dialogContent {
    width: 300px;
    height: 100px;
    padding: 3px;

    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

#dialogName {
    grid-column: 1 / span 2;
    grid-row: 1;
    font-weight: bold;
}

#dialogDesc {
    grid-column: 1 / span 3;
    grid-row: 2;
}


#dialogPriority {
    grid-column: 3;
    grid-row: 3;
}

#dialogDueDate {
    grid-column: 2;
    grid-row: 3;
}

#closeDialog {
    grid-column: 3;
    grid-row: 1;
}








